NODE_ENV=development
PORT=8080

POSTGRES_PORT=5432
DATABASE_URL=postgresql://find_chart:1234@localhost:5432/find_chart?schema=market
TWELVE_DATA_API_KEY=replace-with-your-api-key

USE_REDIS=false
REDIS_URL=redis://localhost:6379

STREAM_SYMBOLS=SPY,QQQ,DIA,BTC/USD,AAPL,MSFT,NVDA,TSLA
CORS_ORIGIN=http://localhost:3000,http://localhost:5173
